.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.gallery-image-zone {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.ant-image {
  margin: 10px;
  width: 200px;
  height: auto;
}

.ant-image img {
  box-shadow: 3px 3px 8px gray;
  cursor: pointer;
}