
.section.most-important {
  width: 100%;
}

.section.title {
  width: 100%;
  flex: 1;
  justify-content: center;
  font-family: "Georgia", Helvetica, Arial, serif;
}

.carousel {
  padding: 0 40px;
  width: 100%;
  flex: 1;
}

.ant-carousel {
  flex: 1;
}

.ant-carousel {
  box-shadow: 3px 3px 8px gray;
}

.about .special {
  justify-content: flex-end;
}

.section.map {
  justify-content: flex-start;
  width: 100%;
}

.map .special {
  justify-content: flex-end;
}

.map .vertical-image {
  width: 60%;
}

@media only screen and (max-width: 767px) {
  .section.most-important {
    align-items: center;
  }
  .carousel {
    padding: 0 40px;
    width: 100%;
  }

  .section.map {
    width: auto;
  }
}