
  .our-priests .section {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
  }

  .section.ks-janusz {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-direction: row-reverse;
  }

  .section.history .special {
      display: flex;
      justify-content: flex-end;
  }