.fixed-menu {
  padding: 0 5px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.menu-list {
  display: flex;
  height: 60%;
  background-color: wheat;
  align-items: flex-end;
}

.pic-link {
  flex: 0.3;
}

.page .logo {
  width: 100%;
  height: auto;
}

.fixed-menu .ant-btn-primary {
  background-color: rgb(255, 166, 0);
  border: none;
  font-size: 16px;
}

.fixed-menu .ant-menu-horizontal > .ant-menu-item {
  vertical-align: baseline;
}