.fixed-menu {
  padding: 0 5px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.menu-list {
  display: flex;
  height: 60%;
  background-color: transparent;
  align-items: flex-start;
}

.pic-link {
  flex: 0.30;
}

.page .logo {
  width: 100%;
  height: auto;
  background-color: rgb(96, 32, 23 );
}

.fixed-menu .ant-btn-primary {
  background-color: rgb(96, 32, 23 );
  border: none;
  font-size: 16px;
}

.fixed-menu .ant-menu-horizontal > .ant-menu-item {
  vertical-align: baseline;
}