@import '~antd/dist/antd.css';

.page {
  font-family: "Libera", Helvetica, Arial, sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(255, 218, 218);
}

.page .flex-box {
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 60px;
}

.sub-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.text {
  padding: 20px;
  flex: 1;
}

.special {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

.reverted {
  flex-direction: row-reverse;
}

.reverted .special {
  justify-content: flex-end;
}

.vertical-image {
  box-shadow: 3px 3px 8px gray;
  width: 60%;
} 



@media only screen and (max-width: 767px) {
  .section {
    flex-direction: column;
    justify-content: center;
  }
  .section .special {
    justify-content: center;
  }
}