@import '~antd/dist/antd.css';

.page {
  font-family: "Libera", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:#f6f0e0;
}

.page .flex-box {
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page .navbar-placeholder {
  height: 76px;
  width: 100%;
}
